.navbarWrapper{
    display: flex;
    width: 100vw;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    transition: 300ms;
}

.none {
    background: transparent;
}

.light {
    background: #EFE8D2;
    border-bottom: 1px solid rgba(37, 35, 36, 0.20);
}

.navbar{
    display: flex;
    width: 1340px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.navbarHide{
    top: -110px;
}

.navbarLinks{
    display: flex;
    gap: 32px;
}

.navbarLinks a{
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px;
    text-decoration: none;
    transition: 300ms;
}

.light a{
    color: #241D1B
}

.navbarLinks a:hover{
    transform: scale(1.05);
}

.navButtons{
    display: flex;
    gap: 22px;
    align-items: center;
    padding: 10px 16px;
    border-radius: 26px;
    background: #FFFFFF;
    transition: 300ms;
}

.light .navButtons{
    display: flex;
    gap: 22px;
    align-items: center;
    padding: 0;
    border-radius: 26px;
    background: transparent;
}

.navButtons a{
    transition: 300ms;
}

.navButtons a:hover{
    transform: scale(1.05);
}

.navbarButton{
    width: 32px;
    height: 32px;
}