$width1440: 1340px;

$cardHeight1440: 460px;

$defaultBorderRadius: 12px;

$bgcolor: #EFE8D2;
$darkbg: #231F20;
$textDarkColor: #241D1B;
$textLightColor: #FFFFFF;
$mainContrastColor: #CCB46B;
$primaryButtonHover: #C5A953;
$patternColor: #9B7C00;
$borderColor: rgba(37, 35, 36, 0.20);